table {border-collapse:collapse;}

table, th, td {border: 1px solid white;}

.character-table{
	justify-content: center;
	align-items: center;
}
table{
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
td{
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0px;
	height: 55px;
}
thead{
	display:table-header-group;
}
.party-name{
	font-size: 150%;
}
html{
	font-family:"Libre Baskerville", serif;
	background: url("/images/dndBackground.jpg") no-repeat center center fixed;
	font-size: 80%;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: white;
	text-shadow: black 1px 1px 2px;
}
@font-face{
	font-family: dndFont;
	src: url
}
.ui-button{
	border-radius: 8px;
	margin-top: 5px;
}
.ui-button:hover{
	background-color:#62C6F2;
	color: white;
}
.coin-submit{
	background-color:transparent;
	color: transparent;
}
.coin-submit:focus{
	color: white;
}
:placeholder::focus{
	color: transparent;
}
.coin-submit:focus::placeholder{
	color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.delete-button{
	border-radius: 8px;
	font-size: 10px;
}
.delete-button:hover{
	background-color:red;
	color: white;
}
#leave-party:hover{
	background-color: red;
}
#leave-party{
	margin-top: 100px;
}
.text-container-player{
	max-width : 100%;
	word-wrap: break-word;
	color: white;
	font-family:"Libre Baskerville", serif;
	text-shadow: black 1px 1px 2px;
	font-size: 35px;
	position: absolute;
	right: 20px;
	bottom: 1px;
}
.text-container-dm{
	max-width : 60%;
	word-wrap: break-word;
	color: white;
	font-family:"Libre Baskerville", serif;
	text-shadow: black 1px 1px 2px;
	font-size: 35px;
	margin-left: 10%;
	position: absolute;
	right: 5px;
	bottom: 10px;
}
.note-box{
	position: absolute;
	bottom: 10px;
	margin-right: 10px;
}
.text-submit{
	background-color: transparent;
	color: white;
}
		