html {
	background: balck;
	color: white;
	font-family: Bookman, serrif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}
.container-form{
	padding: 30px 50px;
	border-radius: 11px;
}
form>div {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}