<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org"
	  xmlns:sec = "https://ww.thymeleaf.org/extras/spring-security">
<head>
<!-- <title th:text="${party.name}"></title> -->
<title th:text ="${party.partyName}"></title>

<link rel= "stylesheet" th:href="@{/css/party.css}">
<script type = "text/javascript" src = "/js/party.js"></script>
</head>
<body>
	<div class="table">
		<table>
		<thead>	
			<tr>
				<th th:text = "${party.partyName}"><th>
			</tr>
		</thead>
		<thead>	
			<tr>
				<th>Player<th>
				<th>Character<th>
				<th>Experience<th>
				<th>Alignment<th>
				<th>Coins<th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${players}">
				<td th:text = "${user.firstName}"></td>
				<td th:text = "${user.characters}"></td>
				<!--  <td th:text = "${user.parties}"></td> -->
				<td sec:authroize = "hasRole('Role_DM')" ><form th:action = "@{/remove-from-party/{partyId}/{firstName} (partyId = ${party.partyId}, firstName = ${user.firstName})}" method = "post"><button type = "submit">Delete From party</button></form></td>
				<!-- <td th:text = "${user.PlayerCharacter.name}"></td>
				<td th:text = "${user.PlayerCharacter.xp}"></td>
				<td th:text = "${user.PlayerCharacter.alighment}"></td>
				<td th:text = "${user.PlayerCharacter.coins}"></td> -->
			</tr>
		</tbody>			
		</table>
		<h1>Test</h1>
		   
			<form th:action = "@{/join-party/{partyId} (partyId = ${party.partyId})}" th:object = "${partyToBeJoined}" method = "post">
			<span th:unless = "${inParty}" th:object = "${inParty}"><button id="join-party" class = "ui-button" type = "submit" onclick = "hideButton()">Join Party</button></span>
			</form>
			
	</div>
	<div>
		<form action = "/back" method = "get">
			<button class= "ui-button" type = "submit">Back To Home</button>
		</form>
	</div>
</body>

</html>