<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
<head>
<!-- <title th:text="${party.name}"></title> -->
<title th:text ="${party.partyName}"></title>

<link rel= "stylesheet" th:href="@{/css/party.css}">
</head>
<body>
	<div class="table">
		<table>
		<thead>	
			<tr>
				<th th:text = "${party.partyName}"><th>
			</tr>
		</thead>
		<thead>	
			<tr>
				<th>Player<th>
				<th>Character<th>
				<th>Experience<th>
				<th>Alignment<th>
				<th>Coins<th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${players}">
				<td th:text = "${user.firstName}"></td>
				<td th:text = "${user.lastName}"></td>
				<!-- <td th:text = "${user.PlayerCharacter.name}"></td>
				<td th:text = "${user.PlayerCharacter.xp}"></td>
				<td th:text = "${user.PlayerCharacter.alighment}"></td>
				<td th:text = "${user.PlayerCharacter.coins}"></td> -->
			</tr>
		</tbody>			
		</table>
		<h1>Test</h1>
		<form th:action = "@{/join-party/{partyId} (partyId = ${party.partyId})}" th:object = "${partyToBeJoined}" method = "post">
			<button class = "ui-button" type = "submit">Join Party</button>
		</form>
	</div>
</body>

</html>