<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org"
	  xmlns:sec = "https://ww.thymeleaf.org/extras/spring-security">
<head>

<title th:text ="${party.partyName}"></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
<link rel= "stylesheet" th:href="@{/css/party.css}">
<script type = "text/javascript" src = "/js/party.js"></script>

</head>
<body>

	<div class="table">
		<input type = "hidden" th:object = "${dmFirstName}">
		<input type = "hidden" th:object = "${userFirstName}">
		<table>
		<thead class = "party-name" >	
			<tr>
				<th colspan = "13" class = "party-name" th:inline = "text"> [[${party.partyName}]] DM'd By [[${dm.firstName}]]</th>
			<tr>	
		</thead>
		<thead>	
			<tr>
				<th>Player</th>
				<th>Character</th>
				<th>Level</th>
				<th>Experience</th>
				<th>Change XP</th>
				<th>XP to Next Level</th>
				<th>Alignment</th>
				<th>Gold</th>
				<th>Earn/Spend</th>
				<th>Silver</th>
				<th>Earn/Spend</th>
				<th>Copper</th>
				<th>Earn/Spend</th>
				
				<th sec:authorize = "hasRole('ROLE_DM')">Remove From Party</th>
			</tr>
		</thead>
		<tbody class = "character-table">
			<tr th:each="onePartyPlayer : ${players}">
				<td th:text = "${onePartyPlayer.firstName}"></td>
			    <td th:text = "${onePartyPlayer?.characterName}"></td>
			    <td th:text = "${onePartyPlayer?.level}"></td>
				<td th:text = "${onePartyPlayer?.experience}"></td>
				<td><form th:action = "@{/add-xp/{characterName}/{partyId} (characterName = ${onePartyPlayer.characterName}, partyId = ${party.partyId})}" method="post" th:object = "${xpModifier}"><input th:if = "${characterBoolean == True OR userFirstName == dmFirstName}" class="coin-submit" id= "coin-submit" type = "number" min = "0" step = "1" th:field = "*{amount}" onfocus="this.value=''"><button th:if = "${pcInPartyName == onePartyPlayer.characterName OR userFirstName == dmFirstName}" type = "submit" class = "ui-button" th:object = "${pcInPartyName}">Add XP</button></form></td>
				<td th:text = "${onePartyPlayer?.xpToLevel}"> </td>
				<td th:text = "${onePartyPlayer?.alignment}"></td>	
				<td th:text = "${onePartyPlayer?.gold}"></td>
				<td><form th:action = "@{/add-gold/{characterName}/{partyId} (characterName = ${onePartyPlayer.characterName}, partyId = ${party.partyId})}" method="post" th:object = "${goldModifier}" id= "gold-amount"><input th:if = "${characterBoolean == True OR userFirstName == dmFirstName}" class="coin-submit" id= "gold-submit" type = "number" step = "1" th:field = "*{amount}" onfocus="this.value=''"><button th:if = "${pcInPartyName == onePartyPlayer.characterName OR userFirstName == dmFirstName}" type = "submit" class = "ui-button" id ="gold-button" th:object = "${pcInPartyName}">Earn/Spend Gold</button></form></td>
				<td th:text = "${onePartyPlayer?.silver}"></td>
				<td><form th:action = "@{/add-silver/{characterName}/{partyId} (characterName = ${onePartyPlayer.characterName}, partyId = ${party.partyId})}" method="post" th:object = "${silverModifier}"><input th:if = "${characterBoolean == True OR userFirstName == dmFirstName}" class="coin-submit" id= "coin-submit" type = "number" step = "1" th:field = "*{amount}" onfocus="this.value=''"><button th:if = "${pcInPartyName == onePartyPlayer.characterName OR userFirstName == dmFirstName}" type = "submit" class = "ui-button" th:object = "${pcInPartyName}">Earn/Spend Silver</button></form></td>
				<td th:text = "${onePartyPlayer?.copper}"></td>
				<td><form th:action = "@{/add-copper/{characterName}/{partyId} (characterName = ${onePartyPlayer.characterName}, partyId = ${party.partyId})}" method="post" th:object = "${copperModifier}"><input th:if = "${characterBoolean == True OR userFirstName == dmFirstName}"class="coin-submit" id= "coin-submit" type = "number" step = "1" th:field = "*{amount}" onfocus="this.value=''"><button th:if = "${pcInPartyName == onePartyPlayer.characterName OR userFirstName == dmFirstName}" type = "submit" class = "ui-button" th:object = "${pcInPartyName}">Earn/Spend Copper</button></form></td>
				<span th:unless = "${dmFirstName} == DemoDM">
				<td><form sec:authorize ="hasRole('ROLE_DM')" th:action = "@{/remove-from-party/{partyId}/{firstName} (partyId = ${party.partyId}, firstName = ${onePartyPlayer.firstName})}" method = "post"><button type = "submit" class = "delete-button">Remove From party</button></form></td>
				</span>
			</tr>
		</tbody>			
		</table>
		
		   
			<form th:action = "@{/join-party/{partyId} (partyId = ${party.partyId})}" th:object = "${partyToBeJoined}" method = "post">
			<span th:unless = "${inParty}" th:object = "${inParty}"><button id="join-party" class = "ui-button" type = "submit" onclick = "hideButton()">Join Party</button></span>
			</form>
		<div sec:authorize = "hasRole('ROLE_USER')">	
			<form action = "/see-characters/" method = "get">
			<span th:if = "${inParty}" th:object = "${inParty}"><button id="join-party" class = "ui-button" type = "submit" onclick = "hideButton()">See Characters</button></span>
			</form>
		</div>	
			
			
	</div>
	<div sec:authorize = "hasRole('ROLE_DM')">
		<form th:action = "@{/create-party-fund/{partyId} (partyId = ${party.partyId})}" method = "post" th:object = "${partyToBeJoined}">
			<span th:unless = "${partyFund}" th:object = "${partyFund}"><button class = "ui-button" type="submit">Create Party Fund</button></span>
		</form>
	</div>	
<!--	<div sec:authorize = "hasRole('ROLE_DM')">
		<form th:action = "@{/create-nonUser-player/{partyId} (partyId = ${party.partyId})}" method = "post" th:object = "${partyToBeJoined}">
			<button class = "ui-button" type="submit">Create NonUser Player</button>
		</form>
	</div>	
-->
	<div sec:authorize = "hasRole('ROLE_USER')">
		<span th:if = "${inParty}" th:object = "${inParty}">
		<form th:action = "@{/create-character/{partyName} (partyName = ${party.partyName})}" method = "get" th:object = "${partyToBeJoined}">
			<span th:unless = "${characterInParty}" th:object = "${characterInParty}"> <button class = "ui-button" type="submit">Create Your Character</button></span>
		</form>
		</span>
	</div>	
	
	<div>
		<form action = "/back" method = "get">
			<button class= "ui-button" type = "submit">Back To Home</button>
		</form>
	</div>
	<span th:unless = "${userFirstName} == DemoPlayer">
	<div sec:authorize = "hasRole('ROLE_USER')">
		<form th:action = "@{/leave-party/{partyId}/ (partyId = ${party.partyId})}"  method = "post">
			<span th:if = "${inParty}" th:object = "${inParty}"><button id="leave-party" class = "ui-button" type = "submit" onclick = "hideButton()">Leave Party</button></span>
			</form>
	</div>
	</span>
	<span th:if = "${userFirstName} == DemoPlayer">
		<div class="text-container-player">
					<p>Here you can adjust your characters coin and expereience. If you don't have a character in the party yet go ahead and create one! You can also see characters you have in other parties. In DND 10 copper
						equals 1 silver and 10 silver equals 1 gold. So if your copper goes above 10 it will convert to one silver and leave the remainder in copper,
						same for silver to gold. This conversion works in the opposite as well, if you spend 25 silver it will treat it as spending 2 gold and 5 silver.
						Non demo players can leave the party but this has been restricted by thymeleaf. You will also notice that as a DM you can adjust
						everyones stats but as a player you can only adjust your own.
					</p>
				</div>
	</span>	
	
	<div class="note-box" sec:authorize = "hasRole('ROLE_DM')">
	<h3>Create Notes Here</h3>
	<form th:action = "@{/add-note/{partyId} (partyId = ${party.partyId})}" method = "post" modelAtribute = "note">
		<textarea path = "text" th:name = "noteText" rows = "10" cols = "50"  th:field = "${note.text}" oninput="this.value = this.value.replace(/;/g, '')"/></textarea>
		<button class="ui-button" id = "submit Text" type = "submit">Submit Text</button>
	</form>
	</div>


</body>
<!--  -->
</html>