<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Registration</title>
	<link rel="stylesheet" th:href="@{/css/register.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<script src = "https://kit.fontawesome.com/7987438857.js" crossorigin="anonymous"></script>
	<script type = "text/javascript" src = "/js/register.js" defer></script>
	<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="container-form">
			<form action="" method="post" th:object = "${userDto}" >
				<h1>Register Below</h1>
				<label class="input-tags">First Name</label><input th:field="${userDto.firstName}" type= "text" class= "text-only"  placeholder="First Name" required autofocus oninput="this.value = this.value.replace(/[^a-zA-Z]$/, '')">
				<label class="input-tags">Last Name</label><input th:field="${userDto.lastName}" type= "text" class= "text-only"  placeholder="Last Name" oninput="this.value = this.value.replace(/[^a-zA-Z]$/, '')">
				<div th:if = "${nameError}">
					<p class = "Error">[[${nameError}]]</p>
				</div>
				<label class="input-tags">Username</label><input th:field="${userDto.username}" type= "text" class= "form-holder" placeholder="Username" required>
				
				<label class="input-tags">Password</label><input th:field="${userDto.password}" type= "password" id = "password" class= "form-holder" placeholder="Password" required><i id = "passwordEyeIcon" class ="fa-solid fa-eye"></i>
				
				<label class="input-tags">Confirm Password</label><input type= "password" class= "form-holder" id = "confirmPassword" placeholder="Password" required><i id = "passwordEyeIcon" class ="fa-solid fa-eye"></i>	
				<label class= "input-tags">Role:</label>
				<select th:field = "*{role}">
					<option th:each = "role : ${listRole}" th:value = "${role}" th:text = "${role}"></option>
				</select>
				<button class = "ui-button" type="submit">Register</button>
				<div>
					<p style="color:white; margin-top: 5px">Login Below<a href="/login" style="color: blue">Login</a></p>
				</div>
			</form>
				
		</div>
	</div>
</body>

</html>